.join-container {
  max-width: 1000px;
  margin: 40px auto;
  background: black;
  padding: 30px;
  border-radius: 10px;
  color: white;
}

.join-title {
  text-align: center;
  margin-bottom: 20px;
}

.join-form {
  display: flex;
  flex-direction: column;
}

.join-form label {
  margin-top: 12px;
  margin-bottom: 5px;
}

.join-form input {
  padding: 10px;
  border-radius: 6px;
  border: none;
  margin-bottom: 5px;
  color:grey;
}

.join-btn-submit {
  margin-top: 20px;
  padding: 12px;
  border-radius: 8px;
  background: #d32b2b;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
