.login-container {
  width: 100%;
  min-height: 100vh;
  background:black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.login-logo {
    height: 200px;
  margin-bottom: 20px;
}

.login-box {
  width: 380px;
  background: #071026;
  padding: 30px;
  border-radius: 12px;
  color: white;
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 600;
}

form label {
  display: block;
  margin-top: 10px;
  margin-bottom: 6px;
}

form input,
form select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 12px;
  border: none;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #d32b2b;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  margin-top: 12px;
}

.signup-links {
  text-align: center;
  margin-top: 14px;
  color: #ccc;
  font-size: 14px;
}

.signup-links span {
  display: block;
  margin-top: 6px;
  cursor: pointer;
  color: #4eaaff;
  text-decoration: underline;
}

.signup-links span:hover {
  color: #77c0ff;
}
