.about-container {
  width: 100%;
  min-height: 100vh;
  background: black;
  color: white;
  padding: 40px 25px;
}

.about-box {
  max-width: 900px;
  margin: 0 auto;
  background: #071026;
  padding: 35px;
  border-radius: 12px;
}

.about-title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.about-text {
  font-size: 18px;
  line-height: 1.6;
  margin-top: 15px;
}